<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhnacademy.jdbc.board.post.mapper.PostMapper">
    <select id="findById" resultType="com.nhnacademy.jdbc.board.post.domain.Post">
        select * from Posts
        where post_no =#{id}
    </select>
    <select id="findAll" resultType="com.nhnacademy.jdbc.board.post.domain.Post">
        select * from Posts
    </select>
    <insert id="insertPost">JdbcSubjects
        insert into Posts (post_no,post_no_above,user_no_writer,user_no_modifier,writed_at,modified_at,title,content,view_activate)
        values (#{postNo},#{postNoAbove},#{userNoWriter},#{userNoModifier},#{writedAt},#{modifiedAt},#{title},#{content},#{viewActivate})
    </insert>
    <delete id="deletePost">
        delete from Posts
        where post_no=#{postNo}
    </delete>
    <update id="updatePost">
        update Posts set title= #{title} and content=#{content}
        where post_no = #{postNo}
    </update>

</mapper>