<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhnacademy.jdbc.board.user.mapper.UserMapper">
    <select id="findUserByNo" resultType="com.nhnacademy.jdbc.board.user.domain.User">
        select *
        from Users
        where user_no = #{userNo}
    </select>
    <select id="findUserById" resultType="com.nhnacademy.jdbc.board.user.domain.User">
        select *
        from Users
        where id = #{id}
    </select>
    <select id="findAll" resultType="com.nhnacademy.jdbc.board.user.domain.User">
        select *
        from Users
    </select>
    <select id="compareUser" resultType="com.nhnacademy.jdbc.board.user.domain.User">
        select *
        from Users
        where id = #{id} and pwd = #{pwd}
    </select>
    <insert id="insertUser">
        insert into Users(user_no, id, pwd,nickname)
        values (#{user.userNo},#{user.id},#{user.pwd},#{user.nickname})
    </insert>
    <update id="updateUser">
        update Users set nickname = '${nickName}'
        where id = #{id}
    </update>
    <delete id="deleteUser">
        delete from Users
        where id =#{id}
    </delete>
</mapper>